{
    "token": "",
    "version": "1.0.0",
    "debugMode": false,
    "prefix": "!",
    "ownerId": "789054057692004362",
    "bleedBotId": "593921296224747521",
    "mudaeBotId": "432610292342587392",
    "updateChecker": false,
    "autoGrab": true,
    "enabled": true,
    "bleed": {
        "nodelay": false,
        "typingIndicators": true,
        "autoJoin": true,
        "playerTracking": true,
        "joinDelay": 2
    },
    "mudae": {
        "nodelay": false,
        "typingIndicators": true,
        "autoJoin": true,
        "playerTracking": true,
        "joinDelay": 3
    }
}